/*
    COMP 333: Software Engineering
    Sebastian Zimmeck (szimmeck@wesleyan.edu)
*/

/*
    It is a good idea to include all styles in a separate Style Sheet such as
    this one.

    Start styling with the general elements of your page, e.g., body style,
    pargraph style, ... . Then, you can modify those styles for individual
    instances using class tags, id tags, ... .
*/

/*
    You can import a font from Google at https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

/*
    The imported font should be applied to all body text.
*/
body {
    font-family: 'Noto Sans SC', sans-serif;
}

/*
    All text in paragraphs should be black.
*/
p {
    color:black;
}

/*
    The background of all divs should be white.
 */
div {
    background-color: white;
}
