/*
    COMP 333: Software Engineering
    Sebastian Zimmeck (szimmeck@wesleyan.edu)
*/

/*
    It is a good idea to include all styles in a separate Style Sheet such as
    this one.

    Start styling with the general elements of your page, e.g., body style,
    pargraph style, ... . Then, you can modify those styles for individual
    instances using class tags, id tags, ... .
*/

/*
    You can import a font from Google at https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

/*
    The imported font should be applied to all body text.
*/
body {
    font-family: 'Tahoma', sans-serif;
    padding-top: 30px;
    margin:0 auto;
    background-color: white;
    overflow-x: hidden;
    /* text-align: center; */
    /* width:100%; */
}

/*
    All text in paragraphs should be black.
*/
p { color:black;
    font-size: 20px;
  }

nav {
  position: fixed;
  top:0;
  z-index:1;
  background-color: #F0F8FF;
  width: 100%;
  text-align: left;
  padding: 10px;
  }

nav a {padding: 10px;
        color: black;
        text-decoration: none;
        font-size: 15pt;
}

section {
  width:100%;
  justify-content:center;
}

/* .background {
    background: url('background1.png');
    width:100%;
    min-height: 1280px;
    background-repeat: no-repeat;
} */

.flex-container {
    display: flex;
    direction:row;
    flex-wrap: wrap;
    background-color: #F0F8FF;
    /* margin-top: 25px; */
    flex:1;
    padding:0pt;
    margin-left: 0pt;
    margin-right: 0pt;
  }

.image{
  width:100%;
}
.flex-container > div {
    display:inline-flex;
    direction:row;
    flex-wrap:wrap;
    background-color: #F0F8FF;
    justify-content:center;
    width: 100%;
    max-width:100%;
    margin: 0px;
    line-height: 80vh;
    font-size: 20pt;
    flex:1;
    align-self:start;
}

.flex-text-item > div {
  font-size:30pt;
  width:100%;
  border: 1pt black;
  text-align: center;
}

#reviews{
  color:black;
  text-align:center;
  font-weight: normal;
  font-size:15pt;
  padding-left:100px;
  padding-right:100px;
}

#banner-div {
  width:100%;
  background-color: #C9D8DA;
  font-size:12pt;
  text-align:center;
  padding-bottom:20px;
  padding-top: 20px;
  /* margin-bottom: 10px; */
  /* padding-bottom: 10px; */
}

#block-text{
  color:black;
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.centered-heading{
  text-align:center;
  margin-left:20%;
  margin-right:20%;
  padding-top:30px;
}

.top-heading{
  text-align:center;
  margin-left:20%;
  margin-right:20%;
  padding-top:30px;
  padding-bottom:20px;
}

.content-text{
  color:black;
  text-align:left;
  font-weight: normal;
  font-size:15pt;
  padding-left:20%;
  padding-right:20%;
}

.flex-container-pricing {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    /* max-width:1200px; */
    width:100%;
  }

.flex-container-pricing > div {
    background-color:  #F0F8FF;
    width:300px;
    /* display:inline-block; */
    /* flex:0 0 1; */
    /* flex-wrap: nowrap; */
    /* flex-wrap:wrap; */
    /* height:auto; */
    height:auto;
    margin:0 auto;
    text-align: center;
    /* line-height: 75px; */
    font-size: 20px;
    padding:30px;
    padding-top:10px;

}

#playlist {
  border-radius:12px;
  width:60%;
  height:380px;
  margin-left:20%;
  margin-right:20%;
}

#filler {
  width:100%;
  height:200px;
  background-color:#F0F8FF;
}
